name: Code coverage

on: [ push, pull_request ]

jobs:
  report:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.11 ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Install dependencies with Poetry
        run: |
          poetry install --no-interaction --no-ansi --with dev,test

      - name: Show installed packages
        run: poetry show

      - name: Install packages
        run: |
          python -m pip install .


      - name: Test CFPQ_Data with coverage
        run: |
          poetry run pytest --cov=cfpq_data --doctest-modules -vv -s cfpq_data tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
